@page "/cashier_console"
<h3>Cashier's' Console</h3>
<br/>
<div class="row">
    <div class="col-4">
        <SelectProductForSellingComponent OnProductSelected="SelectProduct"></SelectProductForSellingComponent>
        <SellProductComponent OnProductSold="SellProduct"></SellProductComponent>
    </div>
    <div class="col">
        Place holder
    </div>
</div>


@code {
    private void SelectProduct(Product product)
    {

    }

    private void SellProduct(Product product)
    {

    }
}
